*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}
header{
    height: 42px;
    background-color: rgb(211, 207, 207);
    padding-left: 35px;
}
.left-menu{
    width: 30%;
    float: left;
}
.left-menu ul{
    list-style: none;
}
.left-menu ul li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 7px;
    color: rgb(124, 119, 119);
    font-weight: 500;
    font-size: 20px;
}
.right-menu{
    width: 60%;
    height: 40px;
   
    float: right;
    text-align: end;
    padding: 3px;
}
.right-menu ul{
    list-style: none;
    margin-right: 50px;
}
.right-menu ul li{
    display: inline-block;
    margin-right: 20px;
    background-color: white;
    color: black;
    height: 35px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
}
.right-menu ul li ul{
    display: none;
}
.right-menu ul li:hover ul{
    display: block;
    color: red;
    position: absolute;
    width: 100px;
    margin-top: 10px;
}
/* .right-menu ul li ul li{
    color: red;
    background-color: black;
} */
.search-logo-bar{
    height: 100px;
}
.logo{
    width: 20%;
    float: left;
    height: 100px;
    text-align: center;
}
.search-input{
    width: 60%;
    float: left;
    height: 100px;
    text-align: center;
}
.logo-text{
    height: 50px;
    width: 70%;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(233, 218, 9);
}
.logo-text label{
    display: inline-block;
    height: 50px;
    width: 48.5%;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 10px;    
}

input[type="text"]{
  height: 40px;
  margin-top: 20px;
  width: 300px;
  padding: 5px;
  border-style: none;
  border: 1px solid rgb(199, 193, 193);
}
.search-icon{
    color:rgb(233, 218, 9);
    font-size:20px;
    height: 40px;
    position: absolute;
    margin-top: 20px;
  
    width: 40px;
    padding-top: 10px;
    border-style: none;  
    border: 1px solid rgb(199, 193, 193);  
}
.menues{
    height: 50px;
    background-color: rgb(81, 77, 77);
}
.category-list{
    width: 30%;
    height: 50px;
   
    float: left;
}
.navbar{
    width: 50%;
    height: 50px;
    float: left;
}
.cart-wishlist{
    width: 20%;
    height: 50px;
    float: right;
}
.category-list h1{
    height: 50px;
    width: 65%;
    margin: auto;
    background-color: rgb(233, 218, 9);
    text-align: left;
    padding-left: 30px;
    padding-top: 5px;
}
.category-list ul{
    list-style: none;
    display: none;
}
.category-list h1:hover + ul{
    display: block;
    width: 65%;
    margin-left: 71px;
}
.category-list ul li{
   color: rgb(166, 161, 161);
   font-size: 18px;
   font-weight: 500;
   padding: 10px;
   border-bottom: 1px solid rgb(218, 212, 212);
   font-family: 'Times New Roman', Times, serif;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    color: white;
    padding-top: 10px;
    margin-left: 15px;
    font-weight: bolder;
}
.active{
    color: rgb(233, 218, 9) !important;
}
.navbar ul li ul{
    background-color: rgb(233, 218, 9);
    list-style: none;
    width: 150px;
    height: 80px;
    position: absolute;
    display: block;
    margin-top: 20px;
}
.navbar ul li ul{
    display: none;
}
.navbar ul li:hover ul{
  display: block;
}
.navbar ul li ul li{
    color: black;
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-left: 20px;
    list-style: none;
    margin-left: -1px;
    text-align: left;
}
.navbar ul li ul li:hover{
    background-color: white;
}
.cart-wishlist span{
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
   
}
.banner{
    height: 400px;
    width: 89.5%;
    border: 1px solid red;
    margin: auto;
    margin-top: 20px;
}
.banner-left{
    width: 70%;
    height: 400px;
    border: 1px solid blue;
    float: left;
    background-image: url('../images/carousel-1.jpg');
    background-size: 100% 400px;
}
.banner-right{
    width: 28%;
    height: 400px;
    float: right;
    border: 1px solid green;
}
.sub-banner{
    height: 180px;
    border: 1px solid rgb(233, 218, 9);
    background-repeat: no-repeat;
    background-size: 100% 180px;
}
.first-background{
    transition: transform 1s ease-in;
}
.second-background{
    transition: transform 1s ease-in;
}
.first-background:hover, .second-background:hover{
    transform: rotate(3deg) scale(1.2);
}
.parent-of-sub-banner{
    height: 180px;
    overflow: hidden;
}