*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}
header{
    height: 42px;
    background-color: rgb(211, 207, 207);
    padding-left: 35px;
}
.left-menu{
    width: 30%;
    float: left;
}
.left-menu ul{
    list-style: none;
}
.left-menu ul li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 7px;
    color: rgb(124, 119, 119);
    font-weight: 500;
    font-size: 20px;
}
.right-menu{
    width: 60%;
    height: 40px;
   
    float: right;
    text-align: end;
    padding: 3px;
}
.right-menu ul{
    list-style: none;
    margin-right: 50px;
}
.right-menu ul li{
    display: inline-block;
    margin-right: 20px;
    background-color: white;
    color: black;
    height: 35px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
}
.right-menu ul li ul{
    display: none;
}
.right-menu ul li:hover ul{
    display: block;
    color: red;
    position: absolute;
    width: 100px;
    margin-top: 10px;
}
/* .right-menu ul li ul li{
    color: red;
    background-color: black;
} */
.search-logo-bar{
    height: 100px;
    border: 1px solid red;
}
.logo{
    width: 20%;
    border: 1px solid green;
    float: left;
    height: 100px;
    text-align: center;
}
.search-input{
    width: 60%;
    border: 1px solid blue;
    float: left;
    height: 100px;
    text-align: center;
}
.logo-text{
    height: 50px;
    width: 70%;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(233, 218, 9);
}
.logo-text label{
    display: inline-block;
    height: 50px;
    width: 48.5%;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 10px;    
}

input[type="text"]{
  height: 40px;
  margin-top: 20px;
  width: 300px;
  padding: 5px;
  border-style: none;
  border: 1px solid rgb(199, 193, 193);
}
.search-icon{
    color:rgb(233, 218, 9);
    font-size:20px;
    height: 40px;
    position: absolute;
    margin-top: 20px;
  
    width: 40px;
    padding-top: 10px;
    border-style: none;  
    border: 1px solid rgb(199, 193, 193);  
}
.menues{
    height: 50px;
    background-color: rgb(81, 77, 77);
}
.category-list{
    width: 30%;
    height: 50px;
   
    float: left;
}
.navbar{
    width: 60%;
    height: 50px;
    border: 1px solid blue;
    float: left;
}
.cart-wishlist{
    width: 10%;
    height: 50px;
    border: 1px solid red;
    float: right;
}
.category-list h1{
    height: 50px;
    width: 65%;
    margin: auto;
    background-color: rgb(233, 218, 9);
    text-align: left;
    padding-left: 30px;
    padding-top: 5px;
}